*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-x: hidden;
}

nav{
    display: flex;
    /* background-color: red; */
    padding: 1.5rem 0;
    justify-content: space-between;
    box-shadow: 1px 1px 5px gray;
}
.num{
display: flex;
justify-content: center;
align-items: center;
padding:  0 2rem;
}
.num p{
    font-size: 1vw;
    font-weight: 700;
    padding: 0 0.3rem;
}
.num img{
    height: 4vh;
    width: 2vw;
    /* width: 1vw; */
}
.btns{
    padding-right: 1rem;
}
.btns button{
    padding: 0.5rem 2rem;
    border-radius: 10px;
    border:none;
    font-size:1.2vw;
    cursor: pointer;
}
.herosection{
    display: flex;
    height: 80vh;
    /* height:20rem; */
    width: 100vw;
    /* background-color: yellow; */

}
.lefthero{
    margin-top: 2rem;
    height: 100%;
    height: auto;
    width: 50%;
    /* background-color: red; */
}
.lefthero img{
    /* margin-top: 2rem; */
    /* padding-top: 5; */
    height: 90%;
    width: 80%;
}
.righthero{
    width:50% ;
    height: auto;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.righthero h2{
    font-size: 2.3vw;
    text-align: center;

}
.righth2{
    /* background-color: purple; */
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;

}
.rightherop{

    /* padding: 0 1rem; */
}
.rightherop p{
    width: 45vw;
    font-size: 1.4vw;
    text-align:justify;
    /* padding: 0 px; */
}
.maincontent{
    /* background-color: aqua; */
    height: auto;
    padding-bottom: 5rem;
}
.maincontent h1{
    text-align: center;
    padding-bottom: 1rem;
    font-size: 2.5vw;
}
.submaincontent{
    padding: 0.5rem 5rem;
    text-align: justify;
}
.submaincontent h3{
    display: inline;
    font-size: 1.5vw;
}
.submaincontent span{
    font-size: 1.3vw;
}
.maincontent-lastwala h1,p{
     text-align: center;
}
.maincontent-lastwala p{
    font-size: 1.5vw;
    padding: 0.5rem 3rem;
}
.testbtn{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}
.test{
    padding: 0.7rem 2rem;
    border-radius:5px;
    font-size: 1vw;
    font-size: 1.5rem;
    /* left: 50%; */
    border: none;
    background-color:black;
    color: white;
    box-shadow: 3px 3px 1px 3px rgb(37, 37, 37);
    cursor: pointer;
}
.test:hover{
    transition:0.9s all cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 0 0 0 ;
}
footer{
    height: auto;
    background-color: black;
    width: 100%;
    color: white;
    display: flex;
 }
 .footer{
    margin: 5rem 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid white;
    width: 100%;
    display: flex;
    justify-content:space-between
 }
 .leftf{
    width: 50%;
 }
 .rightf{
    width: 50%;
 }
 .linkicon{
    margin: 2rem 0;
 }
 .linkicon img{
 height: 30px;
 width: 30px;
 margin-right: 0.5rem;
 }
 .foot{
    text-align: center;
    padding-bottom: 1rem;
    background-color: black;
    color: white;
 }
 .probtn:active{
    scale: 0.95;
 }
 .resume:active{
    scale: 0.95;
 }
 .contact:active{
    scale: 0.95;
 }
